.left-column { 
    background-image: url(../images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
}

.right-column {
    display: inline-block;
    background-image: url(../images/hero-desktop.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
    .left-column > .form {
        margin-left: 60px;
        margin-right: 100px;
        margin-top: 30px;
        margin-bottom: 100px;
    }
